.navbar {
    background: rgba(246, 219, 247, 1);
}
body {
    background: rgb(240,237,254);
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(246, 219, 247, 1) 50%, rgba(255,255,255,1) 100%);
}
footer {
    background: rgba(246, 219, 247, 1);
}
.svg-footer-container {
    width: 4em;
}
.svg-footer-logo {
    width: 2em;
}
/* BIKE ANIMATIONS */
#rueda-derecha, #rueda-izquierda {
    animation: ruedas 3s linear infinite;
    transform: {
        origin: center;
        box: fill-box;
    }
}
@keyframes ruedas {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}
.carousel-indicators li {
    background-color: black;
}