@import "../bootstrap/scss/bootstrap.scss";

/* BODY */
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    background: rgba(250,240,251,1);
}
/* NAVBAR */
.navbar {
    background: rgba(246, 219, 247, 1);
    .navbar-brand {
        cursor: default;
    }
}
/* PRINCIPAL */
/* BIKE ANIMATIONS */
#rueda-derecha, #rueda-izquierda {
    animation: ruedas 3s linear infinite;
    transform: {
        origin: center;
        box: fill-box;
    }
}
@keyframes ruedas {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}
.carousel-indicators li {
    background-color: black;
}
/* PRICING */
.pricing-container {
    background: linear-gradient(0deg,rgba(246, 219, 247, 1) 0%, rgba(246, 219, 247, 1) 80%, rgba(250,240,251,1) 100%);
    .pricing {
        padding: 5em 0;
        form {
            button:hover {
                cursor: pointer;
            }
        }
    }
}
.about-container {
    background: linear-gradient(180deg,rgba(246, 219, 247, 1) 0%, rgba(246, 219, 247, 1) 80%, rgba(250,240,251,1) 100%);
    .about {
        padding: 5em 0;
    }
}
/* CONTACT */
iframe {
    border-radius: 15px;
    width: 70%; height: 100%;
}
.contact-info {
    display: flex; flex-direction: column;
    div {
        display: flex; align-items: center;
        p {
            margin-bottom: 0;
        }
    }
    .contact-icon {
        width: 1.5em; height: 1.5em;
    }
}
/* FOOTER */
footer {
    background: rgba(246, 219, 247, 1);
    background: linear-gradient(0deg, rgba(246,219,247,1) 0%, rgba(246, 219, 247, 1) 80%, rgba(250,240,251,1) 100%);
}
.svg-footer-container {
    width: 4em;
}
.svg-footer-logo {
    width: 2em;
}
