.navbar {
    background: #F0EDFE;
}
body {
    background: rgb(240,237,254);
    background: linear-gradient(0deg, rgba(251,251,251,1) 0%, rgba(240,237,254,1) 50%, rgba(251,251,251,1) 100%);
}
footer {
    background: #6c63ff;
}
