/* --- 1. GENERAL  &  RESETS  &  CSS VARIABLE --- */
* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/*Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    --clr-back-principal: rgb(27, 27, 27);
    --clr-back-secundario: rgb(10, 9, 9);
    --clr-letras-principal: white;
}

/* --- 2. GRID LAYOUT --- */
body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100vh minmax(95vh, auto) 5vh;
    grid-template-areas: "legal  traduccion"
                         "sobre  sobre"
                         "social social";
    position: relative;
    color: var(--clr-letras-principal);
}

/* --- 3. BACKGORUND --- */
.background {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: black;
    z-index: -10;
}
.logo {
    position: absolute;
    top: 1em; left: 1em;
    width: 3em; height: 3em;
    z-index: 50;
}
.language {
    position: absolute;
    top: 1em; right: 1em;
    width: 2em; height: 2em;
    z-index: 50;
    img {
        width: 100%; height: 100%;
    }
}

/* --- 4. LEGAL - TRADUCCION --- */
.legal, .traduccion {
    display: flex; justify-content: center; align-items: center; 
    position: relative;
    border-bottom: 1px solid var(--clr-letras-principal);
    h2 {
        font-size: 2.5em;
        width: 100%;
        text-align: center;
        letter-spacing: 1px;
        text-shadow: 0 0 3px var(--clr-letras-principal);
    }
    a {
        position: absolute;
        width: 100%; height: 100%;
    }
    a:hover ~ img {
        opacity: 0.8;
        transition: 1s;
    }
    img {
        position: absolute;
        z-index: -5;
        width: 100%; height: 100%;
        opacity: 0.4;
    }
}
.legal-box, .traducciones-box {
    display: flex; justify-content: center; align-items: center; flex-wrap: wrap;
}
/* LEGAL */
.legal {
    grid-area: legal;
    border-right: 1px solid var(--clr-letras-principal);
}
/* TRADUCCIONES */
.traduccion {
    grid-area: traduccion;

}

/* --- 5. SOBRE --- */
.sobre {
    grid-area: sobre;
    background: var(--clr-back-principal);
    display: flex; 
    overflow: hidden;
    .principal-foto {
        display: flex; justify-content: center; align-items: center;
        width: 40%;
        img {
            object-fit: cover;
            width: 80%; height: 90%;
            border-radius: 8px;
        }
    }
    .principal-sobre {
        width: 60%;
        padding: 5%;
        text-align: justify;
        h2 {
            padding: 1em 0;
        }
        p {
            padding: 0.5em 0;
        }
        .contact-sobre {
            display: flex; flex-wrap: wrap;
            div {
                display: flex; align-items: center; 
                width: 50%;
                min-width: 400px;
                margin: 0.8em 0;
                .contact-sobre-icon {
                    width: 3em;
                    margin-right: 1em;
                }
            }
        }
    }
}

/* --- 6. SOCIAL --- */
.social {
    grid-area: social;
    background: var(--clr-back-secundario);
    display: flex; align-items: center; justify-content: space-evenly;
    p {
        font-size: 0.8em;
    }
    div {
        display: flex; align-items: center;
        .social-logo {
            margin: 0 1em;
            position: relative;
            a {
                position: absolute;
                top: 0; right: 0; bottom: 0; left: 0;
            }
            img {
                width: 4vh; height: 4vh;
            }
        }
    }
}