@charset "UTF-8";
/* CSS VARIABLES */
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
:root {
  --clr-letras: rgb(233, 233, 233);
  --clr-fondo-negro: black;
  --clr-fondo-bordo: rgb(53, 3, 3);
}

/* RESETS */
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  color: var(--clr-letras);
}

/* FONTS */
/* Raleway */
/* Special Elite */
/* GRID LAYOUT */
body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 100vh 80vh;
      grid-template-rows: 100vh 80vh;
      grid-template-areas: "s1" "s2";
}

/* SECTION 1 */
.s1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: s1;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#background {
  background-image: url("../images/b.png");
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  z-index: -5;
}

#background2 {
  background-color: black;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -5;
}

.principal {
  grid-area: principal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.principal #title {
  font-size: 80px;
  text-shadow: 0 0 5px var(--clr-letras);
}

/* SECTION 2 */
.s2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: s2;
  background: var(--clr-fondo-bordo);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: auto 5vh;
      grid-template-rows: auto 5vh;
      grid-template-areas: "principal2" "footer";
}

.principal2 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: principal2;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
      grid-template-areas: "about contact";
  overflow: hidden;
}

.principal2 h3 {
  font-size: 2rem;
  margin-bottom: 1em;
}

.principal2 p {
  font-size: 1rem;
  line-height: 1.4;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.principal2 .about, .principal2 .contact {
  margin: 1em;
  padding: 1em;
}

.principal2 .about {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: about;
  width: 100%;
  height: 100%;
}

.principal2 .about .cita {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.principal2 .about blockquote {
  font-family: 'Special Elite', cursive;
  width: 75%;
  font-size: 1.2rem;
  line-height: 1.6;
  position: relative;
  margin-top: 3em;
  padding: 0.5rem;
}

.principal2 .about blockquote:before,
.principal2 .about blockquote:after {
  position: absolute;
  font-size: 5rem;
  width: 4rem;
  height: 4rem;
}

.principal2 .about blockquote:before {
  content: '“';
  left: -4rem;
  top: -2rem;
}

.principal2 .about blockquote:after {
  content: '”';
  right: -4rem;
  bottom: 0;
}

.principal2 .about cite {
  font-family: 'Special Elite', cursive;
  font-size: 1.6rem;
  line-height: 3;
  text-align: right;
}

.principal2 .contact {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: contact;
  width: 100%;
  height: 100%;
  margin-left: 20%;
}

.principal2 .contact .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.principal2 .contact .contact-info h4 {
  display: inline;
}

.principal2 .contact .contact-info .contact-icon {
  width: 2em;
  height: 2em;
  margin: 1em;
}

.principal2 .contact .contact-map {
  margin-top: 1em;
  width: 40%;
  height: 40%;
}

.principal2 .contact .contact-map iframe {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

/* FOOTER */
footer {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: footer;
  background: var(--clr-fondo-negro);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .svg-footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  position: relative;
}

footer .svg-footer-social a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

footer .svg-footer-social .svg-footer-logo {
  width: 4vh;
  height: 4vh;
  margin: 0 1em;
}

footer .svg-footer-social:hover {
  cursor: pointer;
}

/* MOBILE */
@media (max-width: 991px) {
  /* SECTION 1 */
  .principal #title {
    font-size: 60px;
  }
  /* SECTION 2 */
  .principal2 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: principal2;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto;
        grid-template-rows: auto;
        grid-template-areas: "about" "contact";
  }
  .principal2 h3 {
    font-size: 1.5rem;
    margin-bottom: 0.8em;
  }
  .principal2 p {
    font-size: 1rem;
    line-height: 1.2;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .principal2 .about {
    margin: 1em 1em 0 1em;
    padding: 1em 1em 0 1em;
  }
  .principal2 .about blockquote {
    font-family: 'Special Elite', cursive;
    width: 75%;
    font-size: 1rem;
    line-height: 1.4;
    position: relative;
    margin-top: 3em;
    padding: 0.5rem;
  }
  .principal2 .about blockquote:before,
  .principal2 .about blockquote:after {
    position: absolute;
    font-size: 3rem;
    width: 3rem;
    height: 3rem;
  }
  .principal2 .about blockquote:before {
    content: '“';
    left: -2rem;
    top: -1rem;
  }
  .principal2 .about blockquote:after {
    content: '”';
    right: -2rem;
    bottom: -1rem;
  }
  .principal2 .about cite {
    font-family: 'Special Elite', cursive;
    font-size: 1.2rem;
    line-height: 2;
    text-align: right;
  }
  .principal2 .contact {
    margin: 1em;
    padding: 1em;
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: contact;
    width: 100%;
  }
  .principal2 .contact div > h3 {
    display: none;
  }
  .principal2 .contact .contact-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .principal2 .contact .contact-info #adress, .principal2 .contact .contact-info #phone-number {
    width: 50%;
  }
  .principal2 .contact .contact-info h4 {
    display: inline;
    font-size: 1rem;
  }
  .principal2 .contact .contact-info .contact-icon {
    width: 2em;
    height: 2em;
    margin: 1em;
  }
  .principal2 .contact .contact-map {
    display: none;
  }
  /* FOOTER */
  footer {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: footer;
    background: var(--clr-fondo-negro);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  footer .svg-footer-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 600;
    position: relative;
  }
  footer .svg-footer-social a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  footer .svg-footer-social .svg-footer-logo {
    width: 4vh;
    height: 4vh;
    margin: 0 1em;
  }
  footer .svg-footer-social:hover {
    cursor: pointer;
  }
}
/*# sourceMappingURL=main.css.map */