/* CSS VARIABLES */
:root {
    --color1: #1b222c;
    --color2: #661b1c;
    --color3: #531516;
    --clr-letras: rgb(248, 213, 161);
}

/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body { 
    background: var(--color1);
    
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}


/* FORMULARIO */

.formulario * {
    padding: 0.8em;
    margin: 0.5em;
    color: var(--clr-letras);
}

.formulario {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    box-shadow: 0 0 35px  rgba(0, 0, 0, 0.4);
}

.formulario-header {
    background: var(--color3);
    margin: 0;
    border-radius: 10px 10px 0 0;
    text-align: center;
}

.formulario form {
    background: var(--color2);
    margin: 0;
}
.formulario label {
    margin-right: 0;
}
.formulario input {
    background: var(--color2);
    margin-left: 0;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.formulario input:focus {
    outline: none;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    transition: ease-in 0.3s;
}

@keyframes clr-trans {
    0% {background: var(--color3);}
    50% {background: var(--color1);}
    100% {background: var(--color3);}
}
.submit-btn {
    border-radius: 10%;
    border: 0.5px solid black;                          
    background: var(--color3);
    width: 150px;
}
.submit-btn:focus {
    animation-name: clr-trans;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.missing {
    background: var(--color2);
    margin: 0;
    border-radius: 0 0 10px 10px;
}